<input type="checkbox" id="mobile-menu-trigger">
<div class="mobile-menu-wrapper">
  <ul *ngIf="router.url == '/login' || router.url == '/new-wallet'">
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/new-wallet" class="btn btn-outline-light">create new wallet</a></li>
  </ul>
  <ul *ngIf="isLoggedInRoute()">
    <li><a routerLink="/balances">Balances</a></li>
    <li><a routerLink="/txn-history">Txns</a></li>
    <li><a routerLink="/login">Logout</a></li>
  </ul>
</div>

<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-6 header-left">
        <a href="#" class="logo"><i class="icon-key-hole"></i> orocolo</a>
      </div>
      <div class="col-6 header-right-mobile">
        <label for="mobile-menu-trigger" class="mobile-menu-trigger"><i class="icon-menu"></i></label>
      </div>
      <div class="col-6 header-right">
        <nav *ngIf="router.url == '/login' || router.url == '/new-wallet'">
          <a routerLink="/login">Login</a>
          <a routerLink="/new-wallet" class="btn btn-outline-light">create new wallet</a>
        </nav>
        <nav
          *ngIf="isLoggedInRoute()">
          <a routerLink="/balances">Balances</a>
          <a routerLink="/txn-history">Txns</a>
          <a routerLink="/login">Logout</a>
        </nav>
      </div>
    </div>
  </div>
</header>
