<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 header-left">
        <a href="#" class="logo"><i class="icon-key-hole"></i> orocolo</a>
      </div>
      <div class="col-sm-4 header-center"></div>
      <div class="col-sm-4 header-right">
        <nav *ngIf="router.url == '/login' || router.url == '/new-wallet'">
          <a routerLink="/login">Login</a>
          <a routerLink="/new-wallet" class="btn btn-outline-light">create new wallet</a>
        </nav>
        <nav *ngIf="router.url == '/balances' || router.url == '/transfer'">
          <a routerLink="/balances">Balances</a>
          <a routerLink="/login">Logout</a>
        </nav>
      </div>
    </div>
  </div>
</header>
