@charset "UTF-8";

@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/mixins";
@import "./src/assets/sass/bootstrap-variables";
@import "./node_modules/bootstrap/scss/alert";

@import "./node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";

// EBM variables
@import "./src/assets/sass/ebm-variables";
@import "./node_modules/ebm/ebm/functions/ebm-functions";
@import "./node_modules/ebm/ebm/helpers/ebm-helpers";
@import "./src/assets/sass/ebm-fonts-setup";

@import "./src/assets/sass/common/balances-wrapper";

.balances-wrapper {
  .middle {
    @include make-container;
    border-top-right-radius: $border-radius-lg;
    border-top-left-radius: $border-radius-lg;
    padding-bottom: get-spacer(3);
    padding-top: get-spacer(3);
  }
  .form-group {
    background-color: darken($black, 3%);
    border-radius: $border-radius;
    label {
      text-transform: uppercase;
      padding: $input-padding-x;
      font-size: $font-size-sm;
      color: $gray-500;
      display: block;
    }
  }
  .form-control {
    background-color: transparent;
    border: none;
    color: white;
  }
  .alert {
    margin-top: get-spacer(3);
  }
}



/*
  Media queries
*/
@media #{$xs-only} {}
@media #{$sm-only} {}
@media #{$md-only} {}
@media #{$lg-only} {}
@media #{$sm-down} {}
@media #{$md-down} {}
@media #{$lg-down} {}
@media #{$sm-up} {}
@media #{$md-up} {}
@media #{$lg-up} {}
@media #{$xl-up} {}
@media #{$xxl-up} {}

