<app-header></app-header>

<section class="hero login">
  <div class="container-md">
    <div class="private-key-input-wrapper">
      <div class="row">
        <div class="col-1">
          <div class="vault-icon"><i class="icon-vault"></i></div>
        </div>
        <div class="col-11">
          <dropzone
            [config]="config"
            [message]="'Click or drag your json private key file here to unlock'"
            (error)="onUploadError($event)"
            (success)="onUploadSuccess($event)"
            (addedFile)="onFileAdded($event, file)"></dropzone>

          <div class="private-key-file-content" *ngIf="privateKey">
            <div class="row align-items-center">
              <div class="col-sm-9 ">
                <span class="address">Address: {{ address }}</span>
              </div>
              <div class="col-sm-3">
                <button class="btn btn-block btn-success">Unlock <i class="icon-chevron-right"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <fieldset class="form-group text-right">
      <button class="btn btn-lg btn-dark">Unlock <i class="icon-chevron-right"></i></button>
    </fieldset> -->
  </div>
</section>

<footer class="footer"></footer>
