<app-header></app-header>

<section class="hero login">
  <div class="container-md">
    <div class="private-key-input-wrapper">
      <div class="row">
        <div class="col-1">
          <div class="vault-icon"><i class="icon-vault"></i></div>
        </div>
        <div class="col-11">
          <fieldset class="form-group private-key-input">
            <textarea autofocus="autofocus" name="private-key-input" class="form-control form-control-lg" placeholder="Please enter your private key"></textarea>
          </fieldset>
        </div>
      </div>
    </div>
    <fieldset class="form-group text-right">
      <button class="btn btn-lg btn-dark">Unlock <i class="icon-chevron-right"></i></button>
    </fieldset>
  </div>
</section>

<footer class="footer"></footer>
