@charset "UTF-8";

@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/mixins";
@import "./src/assets/sass/bootstrap-variables";

@import "./node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";

// EBM variables
@import "./src/assets/sass/ebm-variables";
@import "./node_modules/ebm/ebm/functions/ebm-functions";
@import "./node_modules/ebm/ebm/helpers/ebm-helpers";
@import "./src/assets/sass/ebm-fonts-setup";

@import "./src/assets/sass/common/balances-wrapper";

.coins-header {
  @include make-container;
  padding-bottom: get-spacer(3);
  padding-top: get-spacer(3);
  h5 {
    color: white;
    margin: 0;
  }
  nav {
    text-align: right;
  }
  a:not(.btn) {
    color: white;
  }
}

/*
  Media queries
*/
// @media #{$xs-only} {}
// @media #{$sm-only} {}
// @media #{$md-only} {}
// @media #{$lg-only} {}
@media #{$sm-down} {
  .balances-wrapper {
    .selected-token-name {
      .actions {
        padding-bottom: get-spacer(2);
        padding-top: get-spacer(2);
        text-align: center;
      }
    }
  }
}
// @media #{$md-down} {}
// @media #{$lg-down} {}
// @media #{$sm-up} {}
// @media #{$md-up} {}
// @media #{$lg-up} {}
// @media #{$xl-up} {}
// @media #{$xxl-up} {}

