<app-header></app-header>

<section class="hero balances">
  <div class="container-xs">
    <div class="balances-wrapper">
      <div class="top">
        <div class="selected-token-name">
          <div class="row align-items-center">
            <div class="col-4"></div>
            <div class="col-4">
              <span>{{ transferService.currentToken.name | uppercase }}</span>
            </div>
            <div class="col-4">
              <nav class="actions">
                <a routerLink="/transfer" class="btn btn-sm btn-success"><i class="icon-expand2"></i> send</a>
                <a
                  *ngIf="transferService.currentToken.symbol != 'ETH'"
                  routerLink="/buy-token"
                  class="btn btn-sm btn-danger"><i class="icon-expand2"></i> buy</a>
              </nav>
            </div>
          </div>
        </div>
        <div class="selected-token-value"><span class="symbol">{{ transferService.currentToken.symbol }}</span> <span class="amount">{{ transferService.currentToken.amount }}</span></div>
        <div class="selected-token-equivalence">
          <div class="in-eth" *ngIf="transferService.currentToken.symbol != 'ETH'"><span class="symbol">ETH</span> <span class="amount">{{ transferService.currentToken.totalEth }}</span></div>
          <div class="in-usd"><span class="symbol">USD</span> <span class="amount">{{ transferService.currentToken.totalUsd | currency:'USD' }}</span></div>
        </div>
      </div>
      <div class="middle">
        <header class="coins-header">
          <div class="row align-items-center">
            <div class="col-6">
              <h5>My Tokens</h5>
            </div>
            <div class="col-6">
              <nav>
                <a routerLink="/add-token" class="btn btn-sm btn-outline-light"><i class="icon-plus-circle"></i> Add token</a>
              </nav>
            </div>
          </div>
        </header>
        <div class="token-list">
          <article class="token" *ngFor="let token of tokens; let $index = index" (click)="selectToken($index)">
            <div class="logo"><span><i class="icon-fan"></i></span></div>
            <div class="symbol">
              <span class="sym">{{ token.symbol | uppercase }}</span>
              <span class="current-value">{{ token.usdPrice | currency:'USD' }}</span>
            </div>
            <div class="holdings">
              <span class="in-usd">{{ token.amount }}</span>
              <span class="amount">{{ token.totalUsd | currency:'USD' }}</span>
            </div>
          </article>
        </div>
      </div>
      <div class="bottom">
        <span class="address">Address: {{ eth.wallet.address }}</span>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <span class="eth-usd">ETH/USD {{ prices.ethPrice | currency: 'USD' }}</span>
  </div>
</footer>
