<app-header></app-header>

<section class="hero balances">
  <div class="container-xs">
    <div class="balances-wrapper">
      <div class="top">
        <div class="selected-token-name">
          <div class="row align-items-center">
            <div class="col-4"></div>
            <div class="col-4">
              <span>{{ token.name | uppercase }}</span>
            </div>
            <div class="col-4">
              <nav class="actions">
                <a routerLink="/transfer" class="btn btn-sm btn-success"><i class="icon-expand2"></i> send</a>
              </nav>
            </div>
          </div>
        </div>
        <div class="selected-token-value"><span class="symbol">{{ token.symbol }}</span> <span class="amount">{{ token.amount }}</span></div>
        <div class="selected-token-equivalence">
          <div class="in-eth" *ngIf="token.symbol != 'ETH'"><span class="symbol">ETH</span> <span class="amount">0.0</span></div>
          <div class="in-usd"><span class="symbol">USD</span> <span class="amount">{{ token.usd | currency:'USD' }}</span></div>
        </div>
      </div>
      <div class="middle">
        <div class="token-list">
          <article class="token">
            <div class="logo"><span><i class="icon-fan"></i></span></div>
            <div class="symbol">
              <span class="sym">TK</span>
              <span class="current-value">$0.0</span>
            </div>
            <div class="holdings">
              <span class="in-usd">$0.0</span>
              <span class="amount">0.0 TK</span>
            </div>
          </article>
        </div>
      </div>
      <div class="bottom">
        <span class="address">Address: {{ eth.wallet.address }}</span>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <span class="eth-usd">ETH/USD {{ prices.ethPrice | currency: 'USD' }}</span>
  </div>
</footer>
