<app-header></app-header>

<section class="hero balances">
  <div class="container-xs">
    <div class="balances-wrapper">
      <div class="top">
        <div class="selected-token-name"><span>token</span></div>
        <div class="selected-token-value"><span class="symbol">TK</span> <span class="amount">0.0</span></div>
        <div class="selected-token-equivalence">
          <div class="in-eth"><span class="symbol">ETH</span> <span class="amount">0.0</span></div>
          <div class="in-usd"><span class="symbol">USD</span> <span class="amount">0.0</span></div>
        </div>
      </div>
      <div class="middle">
        <div class="token-list">
          <article class="token">
            <div class="logo"><span><i class="icon-fan"></i></span></div>
            <div class="symbol">
              <span class="sym">TK</span>
              <span class="current-value">$0.0</span>
            </div>
            <div class="holdings">
              <span class="in-usd">$0.0</span>
              <span class="amount">0.0 TK</span>
            </div>
          </article>
        </div>
      </div>
      <div class="bottom">
        <span class="address">Address: </span>
      </div>
    </div>
  </div>
</section>

<footer class="footer"></footer>
