<app-header></app-header>

<section class="hero transfer">
  <div class="container-xs">
    <div class="balances-wrapper">
      <div class="middle">
        <fieldset class="form-group address-to-input">
          <label for="">* Address to:</label>
          <input
            [(ngModel)]="transferService.transfer.to"
            type="text"
            class="form-control"
            autofocus="autofocus"
            placeholder="0x0">
        </fieldset>
        <fieldset class="form-group amount-input">
          <label for="">* Amount in <strong class="text-white underline">{{ transferService.currentToken.symbol }}</strong>:</label>
          <input
            [(ngModel)]="transferService.transfer.amount"
            type="text"
            class="form-control"
            placeholder="1.0">
        </fieldset>
        <div class="row">
          <div class="col-sm-6">
            <fieldset class="form-group gas-limit-input">
              <label for="">Gas limit:</label>
              <input
                [(ngModel)]="transferService.transfer.gasLimit"
                type="text"
                class="form-control"
                placeholder="21000">
            </fieldset>
          </div>
          <div class="col-sm-6">
            <fieldset class="form-group gas-price-input">
              <label for="">Gas price (in ETH):</label>
              <input
                [(ngModel)]="transferService.transfer.gasPrice"
                type="text"
                class="form-control"
                placeholder="4">
            </fieldset>
          </div>
        </div>
        <fieldset class="text-right">
          <button
            (click)="transferService.transferFunds()"
            class="btn btn-success btn-block btn-lg">Transfer</button>
        </fieldset>
        <div class="alert alert-danger text-white" role="alert" *ngIf="transferService.transferFailed">
          <p><i class="icon-notification"></i> There was an error with your transaction. Please review your inputs and try again.</p>
        </div>
      </div>
      <div class="bottom">
        <span class="address">Address: {{ eth.wallet.address }}</span>
      </div>
    </div>
  </div>
</section>

<footer class="footer"></footer>
